<div class="place-info">
    <img src="{{image.url}}" alt="{{ name }}">
    <div>
        <h1 class="display-4">{{ name }}</h1>
        <ul class="list-place-characteristics">
            <li><i class='material-icons'>place</i><a href='https://www.google.com/maps/place/74+Winthrop+St,+Cambridge,+MA+02138,+EE.+UU./@42.3719941,-71.1225542,17z/data=!3m1!4b1!4m5!3m4!1s0x89e3775d51d69b07:0xa4d76bff98604ad5!8m2!3d42.3719941!4d-71.1203655' target="blank">{{ address }}</a></li>
            <li><i class='material-icons'>call</i><a href="tel:+16178764897">{{ phone }}</a></li>
            <li><i class='material-icons'>motorcycle</i>Delivery</li>
        </ul>
    </div>
</div>