body {
    padding: 0;
}

.recovery-header {
    margin-top: 0;
    border-radius: 0;
    height: 100px;
}

.form-content {
    margin: 50px;
    max-width: 1000px;
}

.msg-done {
    font-size: 12px;
    text-align: justify;
}

.list-error-msg {
    color: red;
    font-size: 10px;
}
