{% extends 'registration/base.html' %}

{% load static %}


{% block css %}
<link rel="stylesheet" type="text/css" href="{% static '/registration/css/recovery.css' %}">
{% endblock %}

{% block body %}
<div class='header-form-log recovery-header'>
  <img src="{{ PLACE.image.url }}" alt='logo'>
  <h5>{{ PLACE.name }} - Password Reset</h5>
  <hr>
</div>
<div class="form-content">
{% if validlink %}
    <form id="recovery-form" action="{% url 'registration:password_reset_complete' %}" method="post">
      {% csrf_token %}
      <input class="inactive" type="text" name="user" value="{{ user }}">
      <div class="form-group col-sm-4">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" required>
      </div>

      <div class="form-group col-sm-4">
        <label for="pass-check">Repeat Password</label>
        <input type="password" class="form-control" id="pass-check" name="pass-check" required>
      </div>
      <div class="list-error-msg">
      </div>
      <button type="submit" class="btn btn-primary">Change Password</button>
    </form>
  {% else %}
    <p>
      The password reset link is invalid, possibly because it has already been used.
      Please request a new password reset.
    </p>
  {% endif %}
</div>
{% endblock %}

{% block javascript %}
  <script type="text/javascript" src="{% static 'registration/js/recovery.js' %}"></script>
{% endblock %}