{% extends "registration/base.html" %}

{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static '/registration/css/recovery.css' %}">
{% endblock %}

{% block body %}
<div class='header-form-log recovery-header'>
    <img src="{{ PLACE.image.url }}" alt='logo'>
    <h5>{{ PLACE.name }} - Password Reset</h5>
    <hr>
</div>

<div class="form-content">
    <h4>Check your inbox</h4>
    <div>
        <p>
            We've emailed you instructions for setting your password, if an account exists with the email you entered.
            You should receive them shortly.
        </p>
        <p>
            If you don't receive an email, please make sure you've entered the address you registered with,
            and check your spam folder.
        </p>
    </div>
</div>
{% endblock %}