{% extends 'registration/base.html' %}

{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static '/registration/css/recovery.css' %}">
{% endblock %}

{% block body %}
<div class='header-form-log recovery-header'>
  <img src="{{ PLACE.image.url }}" alt='logo'>
  <h5>{{ PLACE.name }} - Password Reset Fail</h5>
  <hr>
</div>

<div class="form-content">
  <p>
    <a href="{% url 'registration:password_reset' %}"> The password reset could not be done. Please try again.</a> .
  </p>
</div>
{% endblock %}